// Theme Information
//--------------------------------------------//
$theme_name: "Derek's Online Portfolio";
$theme_uri: "#";
$theme_description: "Online Portfolio";
$theme_version: "1.0";
$theme_author: "Derek Hargest";
$theme_author_uri: "#";
$theme_license: "GPL";
$theme_tags: "responsive-layout, post-formats";


$c-black: #333;
$c-white: #FFF;
$c-accent: #ff9900;

$f-stack-sans: 'Oswald', sans-serif;

$f-stack-serif: 'Vollkorn', serif;

