// Theme Information
//--------------------------------------------//
$theme_name: "Derek's Online Portfolio";
$theme_uri: "#";
$theme_description: "Online Portfolio";
$theme_version: "1.0";
$theme_author: "Derek Hargest";
$theme_author_uri: "#";
$theme_license: "GPL";
$theme_tags: "responsive-layout, post-formats";