.container.portfolio{
	
}

.page-content{
	background: $c-white;
}

.p-side{
	@include span(1 of 15);
	&.last{
		@include span(1 of 15 last);
	}
}

.p-image{
	@include span(7 of 15);
	img{
		width: 100%;
	}
}

.p-info{
	@include span(8 of 15 last);
}

.p-info{
	padding-top: 64px;
	padding-bottom: 60px;
	float: left;
	h2{
		margin-top: -8px;
		font-family: $f-stack-sans;
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 1.25px;
	}
	h3{
		font-size: 14px;
		font-family: $f-stack-serif;
		text-decoration: underline;
		font-style: italic;
	}
	p{
		font-size: 14px;
		letter-spacing: 1.5px;
	}
	ul{
		padding-left: 0px;
	}
	li{
		font-size: 14px;
		letter-spacing: 1.5px;
		list-style: none;
		padding-left: none;
	}
	hr{
		margin-top: 90px;
		margin-bottom: 30px;
	}
}